{%extends 'account/dashboard.html' %}
{% block link_data %}
    <h1 class="text-center">Teacher List</h1>

    <div class="add_btn">
        <button
          class="btn-primary btn-sm"
          data-toggle="modal"
          data-target="#inquiryModal"
        >
          Add New Teacher
        </button>
    </div><br><br>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Role</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Subject Are Taking</th>
                    <th> Hire Date </th>
                    <th> Status </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% if staffs %}
                {% for staff in staffs %}
                    <tr>
                        <td> {{staff.id}} </td>
                        <td> {{staff.first_name}} {{staff.last_name}} </td>
                        <td>{{ staff.role }}</td>
                        <td> {{staff.phone}} </td>
                        <td> {{staff.email}} </td>
                        <td> 
                            {% for subject in staff.clasub_set.all %}
                               <li> {{subject}} </li>
                            {% endfor %}
                        </td>
                        <td> {{staff.hire_date}} </td>
                        <td> {{staff.is_active}} </td>
                        <td>
                            <a href="" class="btn btn-sm btn-info btn-block"> Edit </a> 
                            <a href="" class="btn btn-sm btn-danger btn-block" >Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="9" > No Data Available </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>



    <!-- Modal Add Teacher -->


    <div class="modal fade" id="inquiryModal" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="inquiryModalLabel">Add New Teacher</h5>
              <button type="button" class="close" data-dismiss="modal">
                <span>&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="{% url 'account:create_teacher' %}" method="POST">{% csrf_token %}
                <div class="form-group">
                    <label for="" class="col-form-label">First Name:</label>
                    <input
                      type="text"
                      name="first_name"
                      class="form-control"
                      value=""
                    />
                    <label for="" class="col-form-label">Last Name:</label>
                    <input
                      type="text"
                      name="last_name"
                      class="form-control"
                      value=""
                    />
                    <label for="" class="col-form-label">Username:</label>
                    <input
                      type="text"
                      name="username"
                      class="form-control"
                      value=""
                    />
                    <label for="" class="col-form-label">Password:</label>
                    <input
                        readonly
                      type="text"
                      name="password"
                      class="form-control"
                      value="{{teacher_id}}"
                    />
                    <label for="" class="col-form-label">Role:</label>
                    <select name="role" id="" class="form-control">
                        <option value="LR">Lecturer</option>
                        <option value="AP">Assistant Professor</option>
                        <option value="PF">Professor</option>
                    </select>
                    <label for="" class="col-form-label">Teacher Id:</label>
                    <input
                      readonly
                      type="text"
                      name="teacher_id"
                      class="form-control"
                      value="{{teacher_id}}"
                    />
                  </div>

                  <input type="submit" value="Add" class="btn btn-sm btn-success">
              </form>
            </div>
          </div>
        </div>
      </div>

{% endblock %}